- @lyrics.each do |lyric|
  .row
    .small-12  
      %a.lyric{ href: '#', data: { minute: lyric.start_minute.to_i, second: lyric.start_second.to_f, annotations: [lyric.annotations].flatten[0] } }
        = raw lyric.text
