= hidden_field_tag 'spotify-track-id', nil

.row
  = render 'side_panel'
  .small-9.columns.no-padding
    #track-player.row.hide
      .small-3.columns
        .row
          .columns
            = image_tag nil, id: 'album-art'
        .row
          #track-player-buttons.columns
            #play.play
      .small-5.columns
        #lyrics
      .small-4.columns
