= hidden_field_tag 'spotify-track-id', nil

.row
  = render 'side_panel'
  .small-9.columns.no-padding
    #track-player.row.hide
      .small-3.columns.no-padding
        .row.bump
          .columns.no-padding
            = image_tag nil, id: 'album-art'
        .row
          .columns
            %span.track-title
        .row.bump
          .columns
            %span#track-album
        .row
          .columns.no-padding
            #track-progress-bar
        .row.bump
          .columns.no-padding
            %span#track-time.left
            %span#track-duration.right
        .row
          .columns
            #play.play
      #track-lyrics.small-5.columns
        .row.bump
          #track.columns
            %span.track-title
            %span#track-artist
        .row
          #lyrics.columns
      #lyric-annotation.small-4.columns.hide.no-padding
        .row
          .columns
            %h2.no-vertical-margin Annotation 
        .row
          .columns
            %span#annotation-text

